<div class="container mt-5">
  <div class="card bg-dark text-light">
    <div class="card-body">
      <h2 class="card-title">{{ movie.title }}</h2>
      <p class="card-text">{{ movie.synopsis }}</p>
      <p class="card-text"><strong>Año:</strong> {{ movie.year }}</p>
      <div class="mt-4">
        <a [routerLink]="['/edit-movie', movie.id]" class="btn btn-warning me-2">Editar</a>
        <button (click)="deleteMovie()" class="btn btn-danger me-2">Eliminar</button>
        <a routerLink="/movies" class="btn btn-secondary">Regresar al Catálogo</a>
      </div>
      <img [src]="movie.cover" alt="Portada de {{ movie.title }}" class="img-fluid mt-3">
    </div>
  </div>
</div>
