<div class="container mt-5">
    <!-- Header con Bootstrap: imagen del catálogo -->
    <header class="d-flex align-items-center justify-content-start py-3 border-bottom mb-4">
      <img src="https://upload.wikimedia.org/wikipedia/commons/9/9b/Letterboxd_2023_logo.png" alt="Catálogo de Películas" class="img-fluid me-3" style="width: 100px;">
      <h1>Catálogo de Películas</h1>
    </header>
  
    <!-- Descripción del catálogo -->
    <section class="my-5">
      <h2 class="text-primary">Descripción</h2>
      <p>Bienvenido al Catálogo de Películas, donde puedes encontrar una amplia selección de películas de todos los géneros y épocas. Explora y descubre películas clásicas y modernas, con toda la información detallada que necesitas.</p>
    </section>
  
    <!-- Botón centrado para ver películas -->
    <div class="d-flex justify-content-center">
      <a [routerLink]="['/movies']" class="btn btn-primary mt-4">Ver Películas</a>
    </div>
  
    <!-- Footer con datos personales -->
    <footer class="bg-dark text-light text-center py-3 mt-auto">
      <p>Materia: Conceptualización de entornos de desarrollo de aplicaciones y servicios</p>
      <p>Nombre: Fausto García Hernández</p>
      <p>Código: 221968366</p>
      <p>Email: faust.garhdez&#64;gmail.com</p>
    </footer>
  </div>
  